#cache
__pycache__/

#vscode
.vscode/

#cfg
letseatapi.cfg

#pytest
.pytest_cache

*.log
*.pid
*.xlsx
*.json
*.xml

# pyenv local
.python-version

.DS_Store

# redis dumpfile
dump.rdb
