apispec == 6.8.1
apispec-webframeworks == 1.2.0
bcrypt == 4.2.1
celery[redis] == 5.4.0
flask-apispec == 0.11.4
Flask == 3.1.0
Flask-Cors == 5.0.0
Flask-JWT-Extended == 4.7.1
Flask-RESTful == 0.3.10
Flask-SQLAlchemy == 3.1.1
gunicorn == 23.0.0
hiredis == 3.1.0
marshmallow == 3.25.0
pip == 24.3.1
psycopg2-binary == 2.9.10
pycodestyle == 2.12.1
python-dateutil == 2.9.0
pytz == 2024.2
PyYAML == 6.0.2
redis == 5.2.1
setuptools == 75.8.0
SQLAlchemy == 2.0.37
ujson == 5.10.0
webargs == 8.6.0
